<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h4>
      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class='full-width'>
    <tr>
      <td>&nbsp;</td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :name %><br/>
          <%= f.text_field :name, size: 50 %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :sex %><br/>
          <%= f.select(:sex, options_for_select(contact_sex_options)) %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :age %><br/>
          <%= f.number_field :age %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :birthday %><br/>
          <%= f.date_select :birthday, start_year: 1900, end_year: Date.today.year %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :street %><br/>
          <%= f.text_field :street, size: 50 %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :city %><br/>
          <%= f.text_field :city, size: 50 %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :state %><br/>
          <%= f.text_field :state, size: 12 %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :postal_code %><br/>
          <%= f.text_field :postal_code, size: 12 %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :phone %><br/>
          <%= f.text_field :phone, size: 50 %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :email %><br/>
          <%= f.text_field :email, size: 50 %>
        </div>
      </td>
    </tr>

    <tr>
      <td>&nbsp;</td>
    </tr>

    <tr>
      <td>
        <div class="actions">
          <%= f.submit 'Save', class: "btn btn-primary" %>
        </div>
      </td>
    </tr>
  </table>

<% end %>
